<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="de.zell.flash"
          android:versionCode="1"
          android:versionName="1.0">
  
<!-- Allows access to the flashlight -->
<!-- <permission android:name="android.permission.FLASHLIGHT"
             android:permissionGroup="android.permission-group.HARDWARE_CONTROLS"
             android:protectionLevel="normal" />-->
 
 <uses-permission android:name="android.permission.CAMERA" />
 <uses-feature android:name="android.hardware.camera" />
 
<!--             android:label="@string/permlab_flashlight"
             android:description="@string/permdesc_flashlight"-->
  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
  
  <application android:label="@string/app_name"
               android:icon="@drawable/ic_launcher"
               android:allowBackup="true">
    <activity android:name="FlashMainActivity" 
              android:label="@string/app_name" >
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <service android:name=".FlashService"  android:enabled="true"/>
    <receiver android:name=".PowerButtonReciever">
      <intent-filter>
        <!--<action android:name="android.intent.action.BOOT_COMPLETED" />-->
        <!--<action android:name="android.intent.action.ACTION_SHUTDOWN"/>-->

        <action android:name="android.intent.action.SCREEN_OFF"/>
        <action android:name="android.intent.action.SCREEN_ON"/>
        <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
        <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"/>
      </intent-filter>
    </receiver>
    
    <receiver android:name=".BootReciever">
      <intent-filter>
        <action android:name="android.intent.action.BOOT_COMPLETED" />
      </intent-filter>
    </receiver>
      
  </application>
</manifest>
